<style>
/************************************************************
***********************  content  ***************************
************************************************************/
element{
    --blue-color: rgba(88,122,165,0.8);
    --reiko-color: rgba(243,124,61,0.8);
    --wrong-color: rgba(246,86,118,0.8);
}
/************************************************************
*********************  home-wrapper  *************************
************************************************************/
.header_td{
    display: none;
    
}
.home-wrapper{
    height:200%;
    z-index: -99;
}
.home-wrapper .navbar{
    background: rgba(22,51,95,1);
    border: none;
    position: fixed;
    width:100%;
    z-index: 1;
}
.banner{
    background-image: url("m2rbackground.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    position:absolute;
    top:0;
    z-index: -1;
    width:100%;
    height:100%; 
    box-shadow: 1px 1px 23px 0 rgba(0,0,0,.6);
}
.home-wrapper .overlay{
    position:absolute;
    top:0;
    z-index: -1;
    width:100%;
    height:100%;
    background-color: rgba(185,237,248,0.2);
    background: -webkit-linear-gradient(rgba(22,51,95,1)50px, rgba(22,51,95,0.6), rgba(185,237,248,0.2),rgba(185,237,248,0.6));
    background: -o-linear-gradient(rgba(22,51,95,1)50px, rgba(22,51,95,0.6), rgba(185,237,248,0.2),rgba(185,237,248,0.6));
    background: -moz-linear-gradient(rgba(22,51,95,1)50px, rgba(22,51,95,0.6), rgba(185,237,248,0.2),rgba(185,237,248,0.6));
    background: linear-gradient(to bottom, rgba(22,51,95,1)50px, rgba(22,51,95,0.6), rgba(185,237,248,0.2),rgba(185,237,248,0.6));
}
.jumbotron{
    background-color: transparent;
    width:60%;
    margin:auto;
    color: #fff;
    position: absolute;
    top: 120px;
    left:100px;
}
.jumbotron p{
    margin-top:45px;
}
.jumbotron a{
    color: #fff;
}
.jumbotron .btn{
    background-color: #F37C3D;
    padding:10px 12px;
}
/************************************************************
***********************  content  ***************************
************************************************************/
#content{
    position:fixed;
    top: 0;
    width:100%;
    z-index: -99;
    display:none;
}
.page-header{
    text-align: center;
    padding-top:80px;
    border: none;
}
.workflow-tab>li{
    width:33.333%;
    text-align: center;
}
/************************************************************
***********************  workflow  *************************
**********************************************************/
#workflow{
    padding: 0;
    margin-left:8%;
    padding-top: 60px;
}
#workflow .row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#workflow .row div{
    padding:0;
}
#workflow .row:nth-child(odd)>div{
    min-height: 145px;
    display:flex;
}
#workflow .row div p{
    width:90%;
    margin:auto;
}
.arrow{
    min-height:48px;
    max-height:64px;
}
.arrow-long{
    background-size:cover !important;
}
.arrow-right{
    position: relative;
    overflow: hidden;
    background-image: url("a.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.arrow-left{
    position: relative;
    overflow: hidden;
    background-image: url("a.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.arrow-down{
    position: relative;
    overflow: hidden;
}
.arrow-down:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
    background-image: url("a.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.arrow-up{
    position: relative;
    overflow: hidden;
}
.arrow-up:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
    background-image: url("a.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.arrow-lean{
    position: relative;
    overflow: hidden;
}
.arrow-lean:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
    background-image: url("a.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
}
#workflow .bg-primary{
    background-color: transparent;
}
#workflow .row>div{
    border-radius:5px;
    text-align: left;
}
.manu-do{
    padding: 5px;
    background-color: rgba(88,122,165,0.8);
    -webkit-transition: 1s;
    transition: 1s;
}
.reiko-do{
    background-color: rgba(243,124,61,0.8);
}
.wrong-do{
    background-color: rgba(246,86,118,0.8);
}
#workflow ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 60px auto;;
    list-style: none;
}
#workflow .circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    float:left;
    margin: 5px 5px 0 0;
}
#workflow span{
    float:left;
    
}
/************************************************************
***********************  pricetable  *************************
**********************************************************/
#pricing{
    background-color: rgba(88,122,165,0.8);
    padding:auto;
}
#pricing .page-header{
    padding:60px 0 40px;
}
#pricing .page-header small{
    color:#fff;
}
.price-tab{
    width:70%;
    margin:0 auto;
    display: flex;
}
.price-tab>li{
    width:50%;
    text-align: center;
}
.price-tab>li a{
    margin-right: 0;
    border-radius: 0;
    height:100%;
}
.price-tab>li:not(.active)>a{
    color: #fff;
}
.tablecontainer1{
    background-color: #fff;
}
.tablecontainer2{
    padding-top:90px;
}
#pricetable {
    width:90%;
    margin:auto;
}
#pricetable thead th:last-child{
    border-right: none;
}
#pricetable thead,
#pricetable .mode2{
    display: none;
}
#pricetable tbody>tr:first-child th,
#pricetable tbody>tr:first-child td{
    border-top:none;
}
#pricetable th{
    vertical-align: middle;
    text-align: center;
    border-right: rgb(221,221,221) 1px solid;
}
#pricetable td{
    vertical-align: middle;
    border-left:  rgb(221,221,221) 1px solid;
}
/************************************************************
***********************  compare  *************************
**********************************************************/
#comparetable{
    width:90%;
    margin:auto;
    border: rgb(221,221,221) 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,.2);
}
#comparetable thead th{
    text-align: center;
    vertical-align: middle;
}
#compare td{
    vertical-align: middle;
    text-align: center;
}
#compare img{
    width:20px;
}
/************************************************************
***********************  contact  *************************
**********************************************************/
#contact{
    margin-top:120px;
    background-color: rgba(243,124,61,0.8);
    background: -webkit-linear-gradient(left top, rgba(243,124,61,0.6), rgba(247,133,0,0));
    background: -o-linear-gradient(bottom right, rgba(243,124,61,0.6), rgba(247,133,0,0));
    background: -moz-linear-gradient(bottom right, rgba(243,124,61,0.6), rgba(247,133,0,0));
    background: linear-gradient(to bottom right,  rgba(22,51,95,0.8)50px, rgba(22,51,95,0.6), rgba(88,122,165,0.4),rgba(88,122,165,0.2));
}
#contact .row{
    margin:45px; auto;
}
</style>