<style>
/******************Banner*******************/
.commonimagecontainer {display: none}
.breadcrumbcontainer {display: none}
.dropshipcontainer {
    width: 100%; 
/*    min-width: 960px;*/
}
.dropshipbanner {
    display: flex;
    width: 100%;
}
.dropshipbannerleft {
    display: inline-block;
    width: 50%;
    height: 34.4vw;
    background-image: url("http://reikowireless.com/site/images/dropship/dropshipbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.dropshipbannerright {
    display: inline-block;
    width: 50%;
    height: 34.4vw;
    background:#4F86C6;
    background: -webkit-radial-gradient(#F17F42 15%, #e3632d 85%);
    background: -o-radial-gradient(#F17F42 15%, #e3632d 85%);
    background: -moz-radial-gradient(#F17F42 15%, #e3632d 85%);
    background: radial-gradient(#F17F42 15%, #e3632d 85%);
}
.dropshipbannerright-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    margin-top: 8%;
    margin-left: 10%;
    color: #fff;
}
.dropshipbannerright-container .helptext{
    color:#fff;
    margin-top: 5px;
}
.dropshipbannerright-container > div:first-child img{
    display: inline;
    width:80px;
    margin-bottom: 15px;
    margin-left:-6px;
}
.dropshipbannerright-container > div:first-child h{
    display: inline;
    color:#fff;
}
.dropshipbannerright-container > div:first-child p, 
.dropshipbannerright-container > div:nth-child(2) p {
    margin-top: 5px;
    font-size:14px;
    color:#fff;
}
.dropshipbannerright-container > div:last-child input{
    height: 30px;
    width: 80px;
    background: -webkit-linear-gradient(#FfBf5f, #F6B352);
    background: -o-linear-gradient(#FfBf5f, #F6B352);
    background: -moz-linear-gradient(#FfBf5f, #F6B352);
    background: linear-gradient(#FfBf5f, #F6B352);
    background: #F6B352;
    color: #fff;
    border: none;
    border-radius:3px;
    cursor: pointer;
}
input[type="button"]:hover{
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
}
.dropshipbannerright-container p a {
    text-decoration: none;
    color: #fff;
}
.dropshipbannerright-container p a:hover{
    text-decoration: none;
}
/*****************Content*******************/
.dropshipcontent {
    width: 100%;
    margin-top: 2%;
    background: #fff;
    background: -webkit-linear-gradient(#fff 80%, #FFEEE4);
    background: -o-linear-gradient(#fff 80%, #FFEEE4);
    background: -moz-linear-gradient(#fff 80%, #FFEEE4);
    background: linear-gradient(#fff 80%, #FFEEE4);
}
.contenthead {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #999;
}
.dropshipworkflow{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.dropshipworkflow .icons{
    height: 35%;
    display: flex;
    flex-direction: column;;
    justify-content: space-around;
}
.dropshipworkflow img{
    width: 120px;
    padding: 40px 0;
}
.dropshipworkflow figure img{
    padding-bottom:0;
}
.dropshipworkflow figure figcaption{
    width: 150px;
    font-size: 12px;
    padding-top: 0;
    line-height:16px;
}
.dropshipworkflow .a{
    width: 50px;
}
.dropshipworkflow .a1 {
    transform:rotate(-14deg);
}
.dropshipworkflow .a2{
    transform:rotate(-166deg);
}
.dropshipworkflow .a3{
    transform:rotate(14deg);
}
.dropshipworkflow .a4{
    transform:rotate(166deg);
}

.dropshipdetails{
    width:90%;
    margin:auto;
}
.dropshipdetails p{
    margin-top: 15px;
    color: #333;
}
.dropshipdetails h{
    color: #666;
}
.dropshipdetails p span{
    font-weight: 600;
}
.dropshipdetails > div{
    display: inline-block;
}
.dropshipdetails img{
    display: inline;
    width: 30%;
    float: left;
}
.dropshipdetails > div > div{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    padding-left:3%;
}
.arrow-down {
    margin:auto;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FFEEE4;
}
.mousefollower{
    margin-left: calc(var(--mouse-x) * 1px);
}
.dropshipdownload{
    margin-top:30px;
}

.dropshipdownload ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.dropshipdownload ul li{
    text-align: center;
}
.dropshipdownload ul li figure{
    position: relative;
    background-image: url("http://reikowireless.com/site/images/dropship/download.png");
    background-repeat: no-repeat;
    background-position-x:49%;
    background-position-y:35%;
}
.dropshipdownload ul li figure img{
    width:96px;
}
.dropshipdownload ul li figure img:hover{
    opacity:0.6;
}
.dropshipdownload ul li figure figcaption{
    margin-top:8px;
    line-height: 16px;
    text-decoration:none;
    color:#F37021;
}
.dropshipdownload ul li:first-child{
    position:relative;
}
/***************password******************/
.dropshippswd{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    position:absolute;
    bottom:170px;
    left:-105px;
}
.dropshippswd #pswdinput{
    width: 320px;
    background-color: rgba(246,134,87, 0.8);
    padding:5px 0;
    margin-bottom: 0;
    border-radius: 10px;
}
.dropshippswd #pswdinput input{
    display:block;
    margin:5px auto;
    height: 30px;
    background: -webkit-linear-gradient(#FfBf5f, #F6B352);
    background: -o-linear-gradient(#FfBf5f, #F6B352);
    background: -moz-linear-gradient(#FfBf5f, #F6B352);
    background: linear-gradient(#FfBf5f, #F6B352);
    background: #F6B352;
    border-radius: 5px;
}
.dropshippswd #pswdinput>input:first-child{
    background-color: #fff;
    width: 90%;
    border:1px solid #ccc;
}
.dropshippswd #pswdinput>input:nth-child(2){
    width:30%;
    color:#fff;
    border:none;
}
.dropshippswd .arrow-down{
    position:absolute;
    left:140px;
    border-top-color: rgba(246,134,87, 0.8);
    bottom:-20px;
}
.dropshippswd #wrongpswd{
    width:320px;
/*    display:none;*/
    position:absolute;
    bottom:120px;
    text-align: left;
}
.dropshippswd #wrongpswd p{
    color:#fff;
    background: rgba(246,134,87, 0.8);
    padding:10px;
    margin:0;
    border-radius:10px;
}
/********************dropship note********************************/
.dropshipnote p {
    font-size: 14px; 
    font-weight: 600; 
    line-height: 2.3em; 
    width: 90%; 
    margin:auto;
    color: #333;
}

/*******************font********************/
.dropshipcontainer h{
    font-size: 2em;
}
.dropshipcontainer .helptext{
    padding-left:10px;
    font-size: 11px;
}
.dropshipcontainer a,
.dropshipcontainer a:hover{
    text-decoration: none;
}



@media (min-width: 1240px){
    .dropshipbannerright-container{
        width:70%;
        height: 75%;
    }
    .dropshipbannerright-container > div:first-child img{
        width:120px;
        margin-bottom:25px;
        margin-left:-12px;
    }
    .dropshipbannerright-container > div:first-child p, 
    .dropshipbannerright-container > div:nth-child(2) p {
        margin-top:15px;
        font-size:16px;
    }
    .dropshipbannerright-container > div:last-child input{
        height:35px;
        width:90px;
        font-size:16px;
    }
    .dropshipcontainer .helptext{
        font-size:12px;
    }
}
@media (max-width: 960px){
    .dropshipbannerleft{
        display:none;
    }
    .dropshipbannerright{
        width:100%;
    }
    .dropshipbannerright-container{
        margin:auto;
        margin-top:3%;
    }
    .dropshipbannerright-container > div:first-child{
        display:none;
    }
    .dropshipbannerright-container > div:nth-child(2){
        width:80%;
    }
    .dropshipcontainer h{
        font-size:1.6em;
    }
}
@media (max-width: 640px){
    .dropshipbannerright{
        height:auto;
    }
    .dropshipbannerright-container{
        display:block;
        width:90%;
        margin:5px auto;
    }
    .dropshipbannerright-container > div:nth-child(2){
        width:100%;
    }
}
</style>